extends ../layout

block title
	title Главная страница

block content

	button.auth-btn Авторизоваться

	.main.main--welcome

		//.user-block
			img.user-block__image(src='http://pest-reject-original.ru/loft/author-photo.png')
			h3.user-block__name Владимир Астахов
			p.user-block__info Личный сайт веб разработчика

			ul.social-block.social-block--welcome
				li.social-block__item
					a.social-block__link.social-block__link--vk
				li.social-block__item
					a.social-block__link.social-block__link--github
				li.social-block__item
					a.social-block__link.social-block__link--linkedin

			nav.user-menu
				ul.user-menu__list
					li.user-menu__item
						a.user-menu__link(href='#') Мои работы
					li.user-menu__item
						a.user-menu__link(href='#') Обо мне
					li.user-menu__item
						a.user-menu__link(href='#') Блог

		.user-auth
			h2.block-title.user-auth__title
				span.block-title__inner Авторизуйтесь

			form.user-auth__form
				.user-auth__item
					label.user-auth__label.user-auth__label--login
					input.user-auth__input(type='text' placeholder='Логин')
				.user-auth__item
					label.user-auth__label.user-auth__label--password
					input.user-auth__input(type='text' placeholder='Пароль')
				.user-auth__iam-himan
					input(type='checkbox' id='iam-human')
					label(for='iam-human') Я человек
				.user-auth__no-robot
					.user-auth__radio-item
						input(type='radio' id='radio1' name='no-robot')
						label(for='radio1') Да
					.user-auth__radio-item
						input(type='radio' id='radio2' name='no-robot')
						label(for='radio2') Не уверен

			nav.user-menu
				ul.user-menu__list
					li.user-menu__item
						a.user-menu__link(href='#') На главную
					li.user-menu__item
						a.user-menu__link(href='#') Войти

	p.copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016

